@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import "tailwindcss";


h1 {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop1: 1024px;
  --breakpoint-laptop2: 1366px;
  --breakpoint-desktop: 1440px;


  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}



.btn {
  @apply px-4 py-2 font-bold rounded transition duration-300;
}

.btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-700;
}

body  {
  font-family: 'Poppins', sans-serif;
}