@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import "tailwindcss";

h1 {
  font-family: "Poppins", sans-serif;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop1: 1024px;
  --breakpoint-laptop2: 1366px;
  --breakpoint-desktop: 1440px;

  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

.link {
  @apply inline-block px-4 py-2 bg-green-600 text-white rounded-lg shadow hover:bg-blue-700 transition duration-200 ease-in-out
}

.title-h1 {
  @apply text-xl font-bold mb-4;
}

.title-h1-underline {
  @apply text-xl font-bold mb-4 border-b-1 px-10 pb-2 border-gray-300;
}

.title-h2 {
  @apply text-sm font-semibold mb-4;
}

.title-h2-underline {
  @apply text-sm font-semibold mb-4 border-b-1 pb-2 border-gray-300;
}

.icon-numeral {
  @apply text-sm font-bold px-2 me-2 bg-gray-100 border border-gray-300 rounded-sm shadow-xs;
}

.btn {
  @apply px-4 py-2 font-bold rounded transition duration-300;
}

.btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-700;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
